@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding-top: 80px;
    font-family: 'Roboto', sans-serif;
}

.template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.btn{
    border-radius: 0px;
}

router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }